<!--
  {% load static %}
  위 라인은 static file인 css js를 사용하기 위해 html 가장 윗줄에 포함해야함
href="{% static 'css/main/main.css' %}"
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

  <!-- 이 기능은 약간 욕심이라 나중에 다시 해볼게 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>canvas</title>

    <!-- canvas가 dom을 animation처리 하는것 보다 성능적으로 더 좋음, 즉 속도가 더 빠름 -->
    <!-- canvas크기가 2배로 해주고 다시 반으로 조정하는 이유는 고해상도 이미지를 위해서, 처음부터 알맞은 크기로 조정하면 약간 뿌옇다 -->


</head>
<body>
    
    
</body>
</html>