<!--
  {% load static %}
  위 라인은 static file인 css js를 사용하기 위해 html 가장 윗줄에 포함해야함
href="{% static 'css/main/main.css' %}"
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/main/main.css' %}">
    <title>새봄 : 새로운 봄날</title>
</head>


<body>
    <div class="navbar">
        <a class="img_test" href="http://127.0.0.1:8000/">
            <img class="thumnail" src="{% static 'images/main/thumnail2.png' %}" alt="">
        </a>
        <a href="https://pf.kakao.com/_ExmxkkK">
            <button class="kakao_plus_btn">
                <img class="kakako_plus" src="{% static 'images/main/kakao_plus.png' %}" alt=""><span>채널추가</span>
            </button>
        </a>
    </div>


    <section class="scroll-content ">
        <div class="scroll-graphic">
            <div class="graphic-item "><img src="{% static 'images/main/design1.png' %}" alt="" class="scene-img"></div>
            <div class="graphic-item"><img src="{% static 'images/main/design2.png' %}" alt="" class="scene-img"></div>
            <div class="graphic-item"><img src="{% static 'images/main/design3.png' %}" alt="" class="scene-img"></div>
            <div class="graphic-item"><img src="{% static 'images/main/design4.png' %}" alt="" class="scene-img"></div>
            <div class="graphic-item"><img src="{% static 'images/main/design4.png' %}" alt="" class="scene-img"></div>
        </div>


        <div class="scroll-text global-width">
            <div class="step">
                <p>무료하다 정말~</p>
                <p>혼자 카페가기도 싫고</p>
                <p>혼자 할 일은 다 했고</p>
            </div>
            <div class="step">
                <p>
                    넷플도 지루하네...
                </p>
                <p>
                    집에서 할 것도 없을 때
                </p>
                <p>
                    만날 친구도 없고
                </p>
            </div>
            <div class="step">
                <p>
                    카톡할 사람도 없구...
                </p>
                <p>
                    연락할 사람이 없다면
                </p>
                <p>
                    나 같은 사람 어디 없나?
                </p>
            </div>
            <div class="step abc">

            </div>

            <div class="step last-step">
                <div class="next_btn">
                    <button class="kakao_btn">
                        <a
                            href="https://kauth.kakao.com/oauth/authorize?client_id=5d7075d20b4eeae726c8c1b313767b1a&redirect_uri=http://127.0.0.1:8000/social&response_type=code">
                            <img class="kakao_btn_img" src="{% static 'images/main/kakao_login.png' %}" alt="">
                        </a>
                    </button>
                </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="footer_left">
            <span class="footer_left_span">
                COPYRIGHT 2021. NEW-SPRING. ALL RIGHTS RESERVED.
            </span>
        </div>
        <div class="footer_right">
            <a href="http://pf.kakao.com/_ExmxkkK/chat" class="footer_first_a">
                <img class="footer_first_img" src="{% static 'images/main/talk_kakao.png' %}" alt="">
            </a>
            <a href="https://pf.kakao.com/_ExmxkkK" class="footer_second_a">
                <button class="kakao_plus_btn footer_kakao">
                    <img class="kakako_plus" src="{% static 'images/main/kakao.png' %}" alt="">
                    <p class="footer_right_span">채널추가</p>
                </button>
            </a>
            <div class="email">babodogveloper@gmail.com</div>
        </div>
    </footer>

    <script src="{% static 'javascript/main/main.js' %}"></script>
</body>

</html>