<!--
  {% load static %}
  위 라인은 static file인 css js를 사용하기 위해 html 가장 윗줄에 포함해야함
-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <title>커피 마시고 싶네</title>
</head>

<body>
  <header class="header">
    <div class="global-width">
      <h1 class="page-title">hi</h1>
    </div>

  </header>
  <section class="scroll-content">
    <div class="scroll-graphic">
      <!-- <div  class="graphic-item "><img src="images/00.png" alt="" class="scene-img"></div> -->
      <div class="graphic-item "><img src="{% static "images/test1.png" %}" alt="" class="scene-img"></div>
      <div class="graphic-item"><img src="{% static "images/test2.png" %}" alt="" class="scene-img"></div>
      <div class="graphic-item" data-action="birdFlies">
        <img src="{% static "images/test1.png" %}" alt="" class="bird">
        <img src="{% static "images/test2.png" %}" alt="" class="scene-img">
      </div>

      <div class="graphic-item"><img src="{% static "images/test1.png" %}" alt="" class="scene-img"></div>
      <div class="graphic-item"><img src="{% static "images/test2.png" %}" alt="" class="scene-img"></div>
      <div class="graphic-item" data-action="birdFlies2">
        <img src="{% static "images/test1.png" %}" alt="" class="bird">
        <img src="{% static "images/test2.png" %}" alt="" class="scene-img">
      </div>
    </div>
    <!-- <div class="graphic-item"><img src="images/05.png" alt="" class="scene-img"></div>
        <div class="graphic-item"><img src="images/06.png" alt="" class="scene-img"></div>
        <div class="graphic-item"><img src="images/07.png" alt="" class="scene-img"></div>
        <div class="graphic-item"><img src="images/08.png" alt="" class="scene-img"></div> -->
    </div>
    <div class="scroll-text global-width">
      <div class="step">
        <p>테스트</p>
      </div>
      <div class="step">
        <p>
          아직 미완성
        </p>
      </div>
      <div class="step">
        <p>
          맥주 지리게 먹고싶네
        </p>
      </div>
      <div class="step">
        <p>
          테라 부어 마시고싶노
        </p>
      </div>
      <div class="step">
        <p>
          고민고민
        </p>
      </div>
      <div class="step">
        <p>
          시발 JS 안되는 이유를 모르겠네
        </p>
      </div>

    </div>
  </section>

  <button type="button" class="info_input" name="button">정보입력</button>
  <div class="modal-container">
    <div class="modal">
      <div class="close-btn-parent">
        <i class="fas fa-window-close fa-2x close-btn"></i>
      </div>
      <div class="modal-header">
        <h3>정보입력</h3>
      </div>
      <div class="modal-content">
        <p>학교인증(에타오른쪽위 사람모양 눌러서 내 정보 캡쳐해서 올리기
          학번,학교를 인증하기 위함이르모 oo대 oo학번이 꼭 나와야합니다)</p>
        <div class="center-btn-parent">
          <!-- <button type="button" name="button">예시 버튼</button> -->
          <a href="#" class="center-btn ex-btn">예시버튼</a>
          <label class="center-btn file-btn">
            파일첨부 <input type="file" accept="image/*;capture=camera" style="display:none;">
          </label>
        </div>
        <div class="uni-name">
          학교 <input type="text" name="" value="">
        </div>
        <div class="uni-id">
          학번 <input type="text" name="" value="">
        </div>
        학교, 학번,다시한번 확인해주세요
        <form class="modal-form">
          <div>
            <!-- for이 무엇?? -->
            <label for="kakao">카카오톡ID</label>
            <input type="text" id="kakao" class="kakao">
          </div>
          <div class="uni-radio">
            <div class="choose-uni">
              <label for="">같은학? 다른학? 상관x?</label>
            </div>
            <div class="choose-uni-radio">
              cc시러<input type="radio" name="cc" value="ccx">
              cc조아 <input type="radio" name="cc" value="cco">
              상관노 <input type="radio" name="cc" value="no">
            </div>
          </div>
          <div>
            이상형
            <!-- 컴퓨터나 휴대폰으로 했을때 가로,세로 반응형인지 확인하기 -->
            <textarea style="resize:none;" name="name" rows="4" cols="35"></textarea>
          </div>

          <input type="submit" value="제출하기" class="submit-btn">

        </form>
      </div>

    </div>

  </div>

  <script src="{% static "javascript/main.js" %}"></script>

</body>

</html>