
body{
  margin: 0;
}

.info{
  padding: 1.5rem;
  height: 100vh;
}

/* 큰 테두리를 rem으로 할 지 %로 할지 고민중 */
.info_content{
  background-color: #fff;
  height: 12rem;
}
.info_content>input:read-only{
  background-color: white;
}

.name_p{
  top: 4rem;
}

.sex_p{
  top: 7.8rem;
}

.age_p{
  top: 11.9rem;
}

.common_content .common_p{
  position: absolute;
}
.common_content{
  width: 85vw;
  border :  1px solid #58bff6;
  color: #58bff6;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

.common_p{
  left: 4rem;
  background-color: white;
}
.common_input{
  margin: 0.4rem;
  padding: 0.3rem;
  width: 90%;
  border : 1px solid #fff;
  height: 1.3rem;
  outline: none;
}



.choose_uni{
  margin-bottom: 0.5rem;
  height: 3rem;
  width: 80vw;
}


.kakao_p{
  top: 19rem;
}

.uni_check{
  margin-bottom: 1rem;
}

.uni_radio{
 
}
.uni_radio>label:first-child{
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.uni_radio{
  height: 6rem;
}
.choose_uni_radio{
  display: flex;
  justify-content: center;
  align-items: center;
}
.choose_uni_radio>li{
  width: 4.3rem;
}

.ccx_li{
  margin-right: 12rem;
}

.anything_li{
  margin-left: 12rem;
}
.choose_uni_radio{
  color:rgb(161, 161, 161) ;

}

.choose_uni_radio>li>label{
  width: 90%;
}

.choose_uni>label, .uni_check {
  font-size: 0.8rem;
}
.uni_btn{
  width: 11rem;
}

.input_file_pic{
  display: none;
}
.input_file_btn{
  background-color: #58bff6;
  color: white;
  cursor: pointer;
}



select{
  width: 1.2rem;
}
.read{
  width: 7rem;
}
.choose_uni>input:read-only{background-color: #dedede;}




/* ===================2지 선다================================= */


.whole_question{
}

h5{
  margin-bottom: 6.3rem;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}
li{
  display: inline-block;
  border: 2px solid rgb(161, 161, 161);
  border-radius: 0.4rem;
  position: absolute;
}
input[type="radio"]{
  visibility: hidden;
  width: 0;
  height: 0;
}
li>label{
  padding: 0.3rem;
  text-align: center;
  top: -1.0rem;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  cursor: pointer;
}
.left{
  margin-right: 8.3rem;
  height: 3rem;
  width: 8rem;
  color:rgb(161, 161, 161) ;
}
.right{
  height: 3rem;
  width: 8rem;
  margin-left: 8.3rem;
  color:rgb(161, 161, 161) ;
}
.radio_items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sky{
  border: 2px solid skyblue;
  color: black;
}
.black{
  border: 2px solid rgb(161, 161, 161);
  color:rgb(161, 161, 161) ;
}
