<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>id</B></td>
                <td><B>nickname</B></td>
                <td><B>age_range</B></td>
                <td><B>gender</B></td>
                <td><B>Q01</B></td>
                <td><B>Q02</B></td>
                <td><B>Q03</B></td>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.user_id}}</td>
                <td>{{user.user_nickname}}</td>
                <td>{{user.age_range}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.Q01}}</td>
                <td>{{user.Q02}}</td>
                <td>{{user.Q03}}</td>

            </tr>
            {% endfor %}
            <tbody>
        </table>
    </body>
    
    