<!--
  {% load static %}
  위 라인은 static file인 css js를 사용하기 위해 html 가장 윗줄에 포함해야함
href="{% static 'css/main/main.css' %}"
-->
<!-- {% load static %} -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
</head>

<body>


    {% if user.is_authenticated %}
    <div class="info-container">
        <div class="info">

            <div class="info-header">
                <h3>정보입력</h3>
            </div>
            <div class="info-content">


                <form action="" class="unmodified">
                    <div class="name">
                        이름 <input type="text" name="" value="">
                    </div>
                    <div class="sex">
                        성별 <input type="text" name="" value="">
                    </div>
                    <div class="age">
                        연령대 <input type="text" name="" id="">
                    </div>
                </form>

                <br>
                학교 인증 <input type="file" accept="image/*;capture=camera">

                <br><br>
                <form class="info-form">
                    <div>
                        <label for="contact">카카오톡ID</label>
                        <input type="text" id="contact" class="kakao" name="contact">
                    </div>
                    <div class="uni-radio">
                        <div class="choose-uni">
                            <label for="">같은학? 다른학? 상관x?</label>
                        </div>
                        <div class="choose-uni-radio">
                            cc시러<input type="radio" name="cc" value="ccx">
                            cc조아 <input type="radio" name="cc" value="cco">
                            상관노 <input type="radio" name="cc" value="no">
                        </div>
                    </div>

                    <a href="http://127.0.0.1:5500/templates/polls/polls.html">다 음</a>

                </form>
            </div>

        </div>

    </div>

<!-- 
    <form  method="POST">
        {{ form.as_p }}
        <input type="text" name="title">
        <input type="submit" value="OK">
    </form>
    <h2>{{ text }}</h2> -->

</body>

</html>