<!-- <body>
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <td><B>id</B></td>
                <td><B>nickname</B></td>
                <td><B>age_range</B></td>
                <td><B>gender</B></td>
                <td><B>Q01</B></td>
                <td><B>Q02</B></td>
                <td><B>Q03</B></td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{user.user_id}}</td>
                <td>{{user.user_nickname}}</td>
                <td>{{user.age_range}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.Q01}}</td>
                <td>{{user.Q02}}</td>
                <td>{{user.Q03}}</td>
            </tr>
            <tbody>
        </table>
    </body>
    
     -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <form action="." method="POST">
        {% csrf_token %}
        <input type="text" name="title">
        <input type="submit"> 
    </form>

</body>

</html>