<!--
  {% load static %}
  위 라인은 static file인 css js를 사용하기 위해 html 가장 윗줄에 포함해야함
href="{% static 'css/main/main.css' %}"
-->


{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/submit/submit.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/submit/submit.css' %}">
</head>
<title>submit page</title>

<body>

    <!-- ======================정보 입력, 불러오기======================= -->
    <div class="info-container">

        <div class="info">

            <h3>정보입력</h3>
            <div class="info-content">

                <div class="from_db">
                    <form action="." method="POST">{% csrf_token %}
                        <div class="name">
                            이름 <input type="text" name="name" value="">
                        </div>
                        <div class="sex">
                            성별 <input type="text" name="sex" value="">
                        </div>
                        <div class="age">
                            연령대 <input type="text" name="age" id="">
                        </div>
                    </form>
                </div>
                <br>
                <form action="." method="POST" class="info-form">{% csrf_token %}

                    <div class="uni_check">
                        학교 인증 <input name="uni-photo" type="file" accept="image/*;capture=camera">
                    </div>

                    <br><br>
                    <div>
                        <label for="kakao">카카오톡ID</label>
                        <input type="text" class="kakao" name="kakao">
                    </div>
                    <div class="uni-radio">
                        <div class="choose-uni">
                            <label for="">같은학? 다른학? 상관x?</label>
                        </div>
                        <div class="choose-uni-radio">
                            <!-- radio 선택된 value값이 넘어감 -->
                            <!-- 즉 views.py에서 name으로 값을 호출하고 print했을 때 나온 값은 value임  -->
                            cc시러<input name="cc_radio" type="radio" value="ccx">
                            cc조아 <input name="cc_radio" type="radio" value="cco">
                            상관노 <input name="cc_radio" type="radio" value="anything">
                        </div>
                    </div>
                    <!-- <a href="http://127.0.0.1:8000/templates/status/status.html">다 음</a> -->
            </div>

        </div>


        <!-- =================== 2지 선다=================== -->

        <!-- <div class="wrap"> -->

        <!-- radio : name이 같은 것 끼리 중복 체크 안됨  -->
        <!-- id가 같아서 radio버튼 누르면 밑에 버튼이라도 위에 버튼이 클릭됨 -->

        <div class="whole-question">

            <div>
                <h3>테스트 질문1</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q1" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q1" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>


            <div>
                <h3>테스트 질문2</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q2" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q2" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>



            <div>
                <h3>테스트 질문3</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q3" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q3" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>




            <div>
                <h3>테스트 질문4</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q4" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q4" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문5</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q5" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q5" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문6</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q6" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q6" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문7</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q7" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q7" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문8</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q8" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q8" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문9</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q9" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q9" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

            <div>
                <h3>테스트 질문10</h3>
                <div class="radio-items">
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q10" value="left">
                        <label for="a1">left</label>
                    </div>
                    <div class="col-6">
                        <input type="radio" class="only-sr" name="q10" value="right">
                        <label for="a2">right</label>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <input type="submit" value="제출">
    </form>

</body>

</html>