/*------------ modal----------- */

/* .modal-container {
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}
.modal-container.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  padding: 1em;
  width: 95vw;
  height: 80vh;
  background: white;
  overflow: hidden;
}
.close-btn-parent {
  display: flex;
  justify-content: flex-end;
}
.btn-file{
  border-radius: 0.3rem;
  background: lightgreen;
  padding: 0.2rem;
  display: flex;
}
.center-btn-parent{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.2em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}
.center-btn{
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.1s;
  text-shadow: 0rem -0.1rem rgba(0 , 0, 0, 0.44);
}
.center-btn:active{
  transform: translateY(0.7rem);
}
.file-btn{
  background: #1f75d9;
  border-bottom: 5px solid #165195;
}
.file-btn:active{
  background: #1f75d9;
  border-bottom: 2px solid #165195;
}
.ex-btn{
  background: #ff521e;
  border-bottom: 5px solid #c1370e;
}
.ex-btn:active{
  background: #ff521e;
  border-bottom: 2px solid #c1370e;
} */