body{
  margin: 0;
}
div, section, header, footer, p, h1, h2{
  /* 내부 패딩이나 border가 width,  height에 포함이 되도록 */
  box-sizing: border-box;
}
img{
  max-width: 100%;
  height: auto;
}

.global-width{
  max-width: 620px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* top에서 sticky(스크롤 중에 고정) */
.scroll-graphic{
  position: sticky;
  top: 0;
  height: 100vh;
}
.scene-img{
  max-height: 100vh;
}

/* 각 이미지 감싸는 class */
.graphic-item{
  /* 이미지 겹치게 할려고 */
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: 0.5s;
}
.visible{
  opacity: 1;
}
.scroll-text{
  /* position 기본값 static */
  position: relative;
}
.step{
  padding: 0.5rem 1rem;
  background : rgba(255, 255, 255, 0.8);
  border-radius: 0.8rem;
  margin-bottom: 60vh;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 3px;
}
.bird{
  position: absolute;
  left: 0;
  bottom: 60%;
  width: 7rem;
  transition: 2s;
}




.modal-container {
  /* background: white; */
  background: rgba(0, 0, 0, 0.5);
  display: none;
  position: fixed;
  /* position: relative; */
  /* rgba(0 , 0, 0, 0.5);로 화면 꽉채우기 */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;
}

.modal-container.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 1em;
  width: 95vw;
  height: 80vh;
  background: white;
  overflow: hidden;
}

.close-btn-parent {
  display: flex;
  justify-content: flex-end;
}

/* .btn-file{
  border-radius: 0.3rem;
  background: lightgreen;
  padding: 0.2rem;
  display: flex;
} */

.center-btn-parent{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.2em;
  margin-right: 0.4em;
  margin-left: 0.4em;
}

.center-btn{
  text-decoration: none;
  font-size: 1rem;
  color: white;
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border-radius: 0.8rem;
  transition: all 0.1s;
  text-shadow: 0rem -0.1rem rgba(0 , 0, 0, 0.44);
}
.center-btn:active{
  transform: translateY(0.7rem);
}

.file-btn{
  background: #1f75d9;
  border-bottom: 5px solid #165195;
}
.file-btn:active{
  background: #1f75d9;
  border-bottom: 2px solid #165195;
}
.ex-btn{
  background: #ff521e;
  border-bottom: 5px solid #c1370e;
}
.ex-btn:active{
  background: #ff521e;
  border-bottom: 2px solid #c1370e;
}
